/**
 * @author Prénom Nom courriel
**/

/**
 * ------------------
 * TABLE DES MATIÈRES
 * ------------------
 * BIBLIOTHÈQUES (dans le dossier bower_components)
 ** Normalize
 ** Susy
 * UTILITAIRES
 ** variables
 ** mixins
 * BASE
 ** Charte typographique responsive
 *
 * ...
 */
 

/*** Normalize ***/
//@import "../bower_components/normalize-css/normalize";

/**********************************
       Module formMultiStep
       **********************************/
//.js .formMultiSteps__btn[type=submit] {
//  display: none;
//}
//.formMultiSteps__btn[type=submit]{
//  display: block;
//}
body{
  p{
    margin: 0;
    padding: 1em;
    .h1{
      font-size: 70%;
    }
  }

  margin:0;
}
h1{
  padding-left: 1em;
}
header{
  background-color: black;
  color: white;
}

/* Sous-module stepsBar : barre d'étapes */
.stepsBar {
  list-style: none;
  padding: 0;
  margin: 5rem 0 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media (min-width: 601px) {
  .stepsBar {
    justify-content: center;
  }
}

.stepsBar li {
  display: inline-block;
}

.stepsBar__title {
  flex: 0 1 33%;
  position: relative;
  text-align: center;
}
@media (min-width: 601px) {
  .stepsBar__title {
    flex: 0 1 20%;
  }
}

/* Distinguer le titre de l'étape courante */
.stepsBar__title[aria-current]{
  font-weight: bold;
  font-size:110%;
  span{
    background-color: mediumpurple;
    color:black;
  }

  color: purple;
}


.stepsBar__title span {
  background-color: #f2f2f2;
  display: block;
  padding: 1rem 0;
  position: absolute;
  width: 100%;
  top: -4rem;
  left: 0;
  font-weight: 800;

}

.is-completed span {
  background-color: purple;
  color: black;
}

/* Afficher / cacher une étape <section> */
.formMultiSteps__step--is-visible {
  display: block;
}
.formMultiSteps__step--is-invisible {
  display: none;
}

/* Bouton de progression */
.formMultiSteps__btn {
  background: mediumpurple;
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  color: #fff;
  width: 10rem;
  border: 5px solid transparent;
  float:right;
}

.formMultiSteps__btn:focus {
  outline: none;
  border: 5px solid #efcfba;
}

.formMultiSteps__btn:hover {
  background: purple;
}

.formMultiSteps__btn:disabled {
  color: rgba(0, 0, 0, 0.4);
  background: #DCD9D1;
}

/* Gestion du focus sur l'étape courante */
section {
  background-color: #fff;
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
}

section:focus {
  outline: #efcfba auto 5px;;
}

footer{
  background-color: black;
  color:white;
}